{% extends 'mysite/base.html' %}
{% block content %}

<!doctype html>
<html>
<head>
	<title>Документация</title>
</head>
<body>
<h1>EyeBlog</h1>

<ol>
	<li>
	<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;"><a href="#Описание">Описание</a></div>
	</li>
	
	
	<li>
	<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;"><a href="#Функциональность">Функциональность</a></div>
	</li>
	
	<li>
	<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;"><a href="#Авторы">Авторы</a></div>
	</li>

	<li>
	<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;"><a href="#Исходный код">Исходный код</a></div>
	</li>
</ol>

<h2><a id="Описание" name="Описание">Описание</a></h2>

<p>Сайт с функциями блога и системой голосований..</p>




<h2><a id="Функциональность" name="Функциональность">Функциональность</a></h2>

<p>Каждый пользователь может оставлять комментарии к записям в блоге и принимать участие в голосованиях. По вопросам добавления поста/голосования обращаться к администратору</p>


<h2><a id="Авторы" name="Авторы">Авторы</a></h2>
<p>
Ракутин Юрий Олегович <br />
Циглер Александр Сергеевич
</p>

<h2><a id="Исходный код" name="Исходный код">Исходный код</a></h2>
<p>
<a href='https://github.com'> Link </a>
</p>
</body>
</html>


{% endblock %}